@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

main {
    background-color: var(--cor6);
    max-width: 1100px;
    margin: auto;
}

section#section-fotos {
    background-color: #1E1045;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}

div.foto, div.video {
    margin: 10px;
}

div.foto > p, div.video > p {
    color: white; 
    background-color: rgba(0, 0, 0, 0.781); 
    padding: 2px;
    border-radius: 0px 0px 3px 3px; 
    text-align: center;
    font-size: 0.8em; 
    font-family: 'Rubik', sans-serif;
    transform: translateY(-4px);
}

div.video > p {
    transform: translateY(-5px);
}

@media (max-width: 400px) {
    img, video {
        max-width: 140px;
    }
}