main {
    background-color: var(--cor6);
    max-width: 1100px;
    margin: auto;
}

section#section-fotos {
    background-color: #1E1045;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}

div.foto, div.video {
    padding: 10px;
}

@media (max-width: 400px) {
    img, video {
        max-width: 140px;
    }
}