@import url('https://fonts.googleapis.com/css2?family=Song+Myung&display=swap');

main {
    background-color: #1E1045;
    max-width: 1100px;
    margin: auto;
    padding-top: 10px;
}

main hr {
    border-color: var(--cor1);
    margin: 10px 0px;
}

main h1 {
    color: white;
    text-align: center;
    font-family: 'Song Myung', serif;
    padding: 40px 10px 40px 10px;
}

section.section-musicas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 40px 0px 75px 0px;
}

div.musica {
    max-width: 300px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #e9b4ff2d;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.24);
}

div.musica > p {
    margin: 10px 0px 10px 0px;
}

div.musica > audio, img {
    width: 300px;
}

div.musica > p {
    text-align: center;
    color: white;
    font-weight: bold;
}
